{% extends 'gametracker/base.html' %}
{% load i18n %}

{% block content %}

<h2>{% trans "Ajout d'une partie" %}</h2>

<form method="POST">
    {% csrf_token %}

    <p>
        {{ form.game_map.label_tag }}
        {{ form.game_map }}
    </p>

    <div class="form_teams">
        {{ form.team1.label_tag }}
        {{ form.team2.label_tag }}
        {{ form.team1 }}
        {{ form.team2 }}
    </div>
 
    <p>
        {{ form.winner.label_tag }}
        {{ form.winner }}
    </p>

    <button type="submit">{% trans "Enregistrer" %}</button>
</form>

{% endblock content %}
