{% extends 'gametracker/base.html' %}
{% load i18n %}

{% block content %}

<section class="section">
    <div class="container">
        <h1 class="title">{% trans "Ajouter une partie" %}</h1>
    </div>
</section>


<section class="section">
    <div class="container">
        <p>
        Ajoutez une partie à partir d'un replay. Les formats supportés sont ceux de Age of 
        Empires&nbsp;II&nbsp;HD (.aoe2record) et de Age of Forgotten Empires (.mgz).
        </p>
    </div>
</section>

<form id="form" method="POST" enctype="multipart/form-data" action="{% url 'gametracker:add_game' %}">
    {% csrf_token %}
    <div class="field">
        <div class="file is-info has-name is-centered">
            <label class="file-label">
                <input id="file" class="file-input" type="file" name="replay">
                <span class="file-cta">
                <span class="file-icon">
                <span class="fas fa-upload"></span>
                </span>
                <span class="file-label"> {% trans "Choisir un replay…" %} </span>
                </span>
                <span id="filename" class="file-name">{% trans "Aucun fichier" %}</span>
            </label>
        </div>
    </div>
</form>

<section class="section">
    <div class="container">
        <div class="has-text-centered">
            <button id="loading" class="button is-warning is-info" style="display: none;">
                {% trans "Chargement..." %}
            </button>
        </div>
    </div>
</section>

<script type="text/javascript">
    var file = document.getElementById("file");
    file.onchange = function(){
        document.getElementById("form").submit();
        if(file.files.length > 0) {
            document.getElementById('filename').innerHTML = file.files[0].name;
        }
        document.getElementById("loading").style.display='inline';
    };
</script>

{% endblock content %}
