{% extends 'gametracker/base.html' %}
{% load i18n %}

{% block content %}
<h2>{% trans 'Historique des parties' %}</h2>

<table class="history">
    <tr>
        <th>{% trans 'Date' %}</th>
        <th>{% trans 'Carte' %}</th>
        <th>{% trans 'Equipes' %}</th>
    </tr>

    {% for game in game_list %}
        <tr>
            <a href="/game/{{game.pk}}">
            <td>{{ game.date|date:"d M. Y" }}</td>
            <td>{{ game.game_map }}</td>
            <td>
                <table class="team_composition">
                    <!-- Winner team -->
                    <tr>
                        <td class='won'>W</td>
                        {% if game.winner == "team1" %}
                            {% for player in game.team1.all %}
                                <td>{{ player.name }}</td>
                            {% endfor %}
                        {% else %}
                            {% for player in game.team2.all %}
                                <td>{{ player.name }}</td>
                            {% endfor %}
                        {% endif %}
                    </tr>

                    <!-- Loser team -->
                    <tr>
                        <td class="lost">L</td>
                        {% if game.winner == "team2" %}
                            {% for player in game.team1.all %}
                                <td>{{ player.name }}</td>
                            {% endfor %}
                        {% else %}
                            {% for player in game.team2.all %}
                                <td>{{ player.name }}</td>
                            {% endfor %}
                        {% endif %}
                    </tr>
                </table>
            </td>
            </a>
        </tr>
    {% endfor %}
</table>
{% endblock content %}
