{% extends 'gametracker/base.html' %}
{% load i18n %}

{% block content %}
<h1>{{ player.name }}</h1>

<div class="player">

    {% if player.avatar %}
        <div class="avatar_container"><img src="{{ player.avatar.url }}" alt="Avatar {{ player.name }}" /></div>
    {% endif %}

    <p>{% trans "Joueur :" %} {{ player.name }}</p>
    <p>{% trans "Elo :" %} {{ player.elo }}</p>
    <p>{% trans "Nombre de victoires :" %} {{ victories }} ({{ ratio|floatformat:"2" }}%)</p>
    <p>{% trans "Nombre de défaites :" %} {{ defeats }}</p>
</div>
{% endblock content %}
