{% load i18n %}

{% if person_list %}
<div class="is-narrow">
<table class="table is-striped is-hoverable">
    <thead>
        <tr class="is-selected">
            <th>{% trans "Nom" %}</th>
            <th>{% trans "Elo" %}</th>
            <th>{% trans "#&nbsp;Parties" %}</th>
        </tr>
    </thead>

    <tbody>
    {% for person in person_list %}
        <tr>
            <td><a href={% url 'gametracker:player' person.name %}>{{ person.name }}</a></td>
            <td class="has-text-centered">{{ person.elo }}</td>
            <td class="has-text-centered">{{ person.ngames }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<div>
{% else %}
    <p class="is-warning">{% trans "Aucun joueur dans la base de données..." %}</p>
{% endif %}
