/* Core css */
h1 {
    text-align: center;
    font-family: Sans-serif;
}

h2 {
    text-align: center;
    font-family: Sans-serif;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

.introduction
{
    width: 400px;
    margin: auto;
    text-align: justify;
}

.elo_tracker {
    font-weight: bold;
}

.proposed_teams {
    text-align: center;
}

@media screen and (max-width: 700px) {
    body {
        width: 100%;
    }
}
