/* Core css */
h1 {
    text-align: center;
    font-family: Sans-serif;
}

h2 {
    text-align: center;
    font-family: Sans-serif;
}

/*div {
    width: 100%;
    display: block;
}*/

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

.introduction
{
    text-align: justify;
    width: 400px;
    margin: auto;
}

.elo_tracker {
    font-weight: bold;
}
